@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url("clock-pattern.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header{
    background: #e66357;
    text-align: center;
}

.container{
    position: relative;
    padding: 0 0;
    font-family: 'Orbitron', sans-serif;
}

.main{
    background: #cccccc;
    width: 400px;
    height: 175px;
    margin: 100px auto; 
    position: relative;
    padding: 30px;   
}

.badge{
    width: 96px;
    background: #e66357;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 40%;
}

.clock{
    background: #EBEBEB;
    text-align: center;
    font-size: 55px;
    height: 100%;
    padding-top: 20px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

nav {
    font-family: 'Orbitron', sans-serif;
}

ul {
    background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: #fff;
    background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: #fff;
}

li:hover,
li:focus-within {
    background: red;
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

